<div id="topbuttons">
  <div id='h'><a href="/">Home</a></div>
  <div id='n'><a href="-------">New Search</a></div>
  <div id='au'><a href="/about">About Us</a></div>
  <div id='f'><a href="-------">Favorites</a></div>
</div>