<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/aboutus.css">
  </head>
  <body>
    <header>
      <%- include('layout/header') %>
    </header>
    <main>
      <img id="backimg" src="../styles/img/citybg.jpeg"></img>
      <div id="Sam">
        <p id="Sams">fsldakfsd;lfjkas;dfjas;dlfjk</p>
        <img id="samp" src="../styles/img/samspic.jpg",>
      </div>
      <div id="Louis">
        <p id="lou">I graduated from high school in 2012 and enlisted in the United States Marine Corps. 
          I’m using my education benefits to pursue a career as a software developer.<br>
          
          I have found I am most productive when given the chance to use my creativity and problem-solving skills.<br>
           
          though this is my first exposer to the tech industry, I am passionate about the opportunity to use my skills and see where the future may take me.<br>
          </p>
        <img id="louisp" src="../styles/img/loui.png",>
      </div>
      <div id="kaleb">
        <img id="kalep" src="../styles/img/kale.jpeg">
        <p id="kale">What were you doing before you decided to change careers?
          Honestly, I’ve been thinking about learning to code for at least a year so I was just doing a random labor job as I couldn’t make up my mind on which school I wanted to go to. Then COVID-19 hit and it changed everything. That was the kick I needed to change careers and learn something new that I’d be more passionate about.<br>
          
          
          Why did you decide to learn Software Development?
          I decided to learn software development because I’ve loved technology my whole life. Learning what specs are going to give the best performance for my money and then learning the details of that piece of technology and how it can work to its best potential is kind of my jam. I knew that learning to code would be really hard and challenging, but I’m never not interested in picking apart technology and how it can work better for us.<br>
          
          
          Why did you pick this specific skill?
          When someone wants their UI on a game that you can customize, I’m the person they call. Making an interface user friendly, sleek, and to the point is a favorite pastime of mine. I think being raised by a visual artist, and being an artist in other areas myself, gives me the eye for making front-end products that people are going to love.<br>
          
          
          Ideal environment you’d use this skill?
          I’d say the ideal environment will be one where I get to work independently and then come together in a team after some solo work. It’s a lot like being a chef in that it takes the whole kitchen to make a restaurant run, but ultimately I’m doing my own thing with dish number nine. It’d be cool to have an office to go to and see my teammates in person even if it’s only once or twice a week, but I’m a really flexible person so remote works too.<br>
          
          
          Previous experiences that make you a better developer?
          Both cooking and audio engineering are going to be a major boost to my career in becoming a developer. Audio engineering is using tech to bring a product to your customer that is pleasing and balanced. Cooking is using skills of organization and teamwork to create a fun experience for the customer.<br>
        </p>
      </div>
      <div id="matt">
        <img id="mattp" src="../styles/img/matt.jpg">
        <p id="mattss">My name is Matthew Holder. I was in the Navy for 4 years where I maintained firearms and trained others to use and maintain them. I also held a position in which I was responsible for watching my teams perimeter in order to keep us safe while they transferred equipment and personnel from ship to shore and shore to ship. I am now working to become the best software engineer I can and I intend to work in robotics and AI engineering.</p>
      </div>
      <input id="buttons" type="button" value="Go back!" onclick="history.back()">
    </main>
    <footer></footer>
  </body>
</html>