<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layout/head') %>
  <title>Saturday Night Lights</title>
</head>

<body>
  <img id="backimgm" src="../styles/img/citybg.jpeg"></img>
  <header>
    <%- include('layout/header') %>
  </header>
  <div id="flexs">
    <div id="site">
    <p class="glow" id="newp">One problem some travelers have is with knowing what to look for in a new city and when to go. With our app a user is able to search the name of a city and be instantly greeted with the local weather forecast to show whether or not it's a good day to explore. The user can then choose to see a list of things to doin the area. Since food is one of the most popular methods of exploring a culture the user also has the option to see a list of restaurants in the area. With this app planning a day trip can now be as easy as knowing which city you're in.</p>
    </div>

    <div class="topbox">
      <section class="a-n">
        <form action='/weather' method="GET">
          <fieldset>
            <legend>Search by City</legend>
            <label>Enter a City:<input id="b-n" type='text' name='search'></label>
            <button id="c-n">Submit</button>

          </fieldset>
        </form>
      </section>
    </div>
  </div>
  <footer>
    <%- include('../pages/layout/footer.ejs') %>
  </footer>

</body>

</html>

