<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
<<<<<<< HEAD
    <form action='/show' method="GET">
=======
    <form action='/weather' method="GET">
>>>>>>> bee5a6375b71fe88f1bf51d13384ca9f9366d50d
      <fieldset>
        <legend>Search by City</legend>
        <label>Enter a City:<input type='text' name='search'></label>
        <button>Submit</button>
  
      </fieldset>
    </form>
  </section>
  
</body>
</html>